h1{
	font-size: 30px;
	font-weight: bold;
	padding: 1em 0;
}

h2{
	font-weight: bold;
	font-size: 20px;
	padding: 1em 0;
}
.cadernoHTML{
	 text-align: center; 
	 background: #FF4500;
}

.cadernoCSS{
	text-align: center; 
	background: #4169E1
}

.cadernoJS{
	text-align: center;
	background: goldenrod;
}
