.materias__lista{
	display: flex;
	align-items: center;
	flex-direction: column;
	flex-wrap: wrap;
}

.botao1, .botao2{
	display: inline-block;
	text-transform: uppercase; 
	color: black; 
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
	transition: 1s all;
	border: 3px solid black;
	border-radius: 7px;
	padding: 5px 10px;
}

.botao1:hover{
  background: linear-gradient(35deg,#cc3700, #1d44b9, #a07918);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transform: scale(1.2);
  border-image: linear-gradient(to bottom, #cc3700, #1d44b9, #a07918) 1;
}

.botao2:hover{
	color: goldenrod;
	border-color: goldenrod;
	transform: scale(1.2);
}