@import url("Estilos/cabecalho.css");
@import url("Estilos/Abas.css");
@import url("Estilos/Botoes.css");

:root{
	--cor-HTML: #FF4500;
	--cor-CSS: #4169E1;
	--cor-JS: goldenrod;
	--cinza-fundo: #778899;
}

body{
	background-color: #778899;
	font-family: 'Lora', serif;
}

p{
	font-size: 18px;
	color: gainsboro;
	line-height: 2;
	margin: 1em;
}

p a{
	font-weight: bold;
}

p:before{
	content: "🟊"
}

li{
	margin: 2em;
	font-size: 17px;
	color: gainsboro
}

strong{
	color: black;
	font-weight: bold;
	font-size: 17px;
}


footer{
	text-align: center;
	background: black;
	padding: 20px;
}

@media screen and (max-width:780px){
	h1{
		text-align: center;
	}

	nav{
	position: static;	
	}

	nav a{
		display: block;
		text-align: center;
	}
}